n8n_workflows/sam_rfp_agent_simple.json
{
  "nodes": [
    {
      "parameters": {
        "content": "# 🚀 Sam's Simplified RFP AI Agent\n\n## How to Use:\n1. **Step 1: Ingest Documents** - Click the 'Execute' button on the 'Trigger Entrypoint' node. This will pull files from your Google Drive folder.\n2. **Step 2: Chat** - Use the Chat window to ask questions about your RFPs.\n\n## Setting Up:\n- **Google Drive**: Put your RFP documents (PDF or Google Docs) in a specific folder.\n- **Credentials**: You only need to set up Google Drive and OpenAI credentials.\n- **No Database**: This version uses 'In-Memory' storage, so it's super fast and requires zero setup!",
        "height": 400,
        "width": 500,
        "color": 6
      },
      "id": "932b37de-e0a2-42fb-bea6-773e3781ff88",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5344,
        3808
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "a7c1d7b2-3d9e-4321-9cab-e11709483601",
      "name": "In-Memory Vector Store (Ingest)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        4624,
        4864
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "21c50559-a040-46a4-9625-53b79675dabf",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4672,
        5312
      ],
      "credentials": {
        "openAiApi": {
          "id": "oZ4DZA84PQMSagrq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "074182d5-d464-42db-8b62-493995424e1f",
      "name": "Chat Entrypoint",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        5344,
        4560
      ],
      "webhookId": "477555ef-512c-4e7b-963b-329da5f8051e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Sam's RFP Assistant. Your job is to find exact answers from the documents Sam has uploaded.\n\n1. Always search the documents first using the vector store tool.\n2. Return the exact question and answer if you find a match.\n3. Be concise and helpful.\n4. Mention which document you found the answer in."
        }
      },
      "id": "344e7c40-bc48-41b9-8682-b64ee6891170",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5568,
        4560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1e631c4a-d3e1-4a21-af1d-bce059c7c3d1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5568,
        4768
      ],
      "credentials": {
        "openAiApi": {
          "id": "oZ4DZA84PQMSagrq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Sam's RFP documents"
      },
      "id": "a3aec283-cb4b-4fec-a5c6-7a41b54afb8b",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        6032,
        4704
      ]
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "3c6523d2-3329-45f8-a00e-59cd644914ff",
      "name": "In-Memory Vector Store (Retrieve)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        5664,
        5040
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6096,
        4944
      ],
      "id": "bd99c36d-089c-41fa-a09d-e4fd96943de0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oZ4DZA84PQMSagrq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5056,
        4480
      ],
      "id": "ae2be244-79c0-43d1-872a-b0fed8a43d30",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RfMaFAu_TPIroMoC-jWLHKS9gnWdAYE9",
          "mode": "list",
          "cachedResultName": "RFPS_SAM",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RfMaFAu_TPIroMoC-jWLHKS9gnWdAYE9"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "c81ea9f3-6054-4f94-8e49-1329d5dbd6de",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4592,
        4016
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g3pPtdGLe7lFujbM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2540173b-4074-4d71-b9b1-4422f8a70a25",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6016,
        4080
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "e9c79d43-40bc-442b-b260-2b685957eb76",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6448,
        4080
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g3pPtdGLe7lFujbM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "4b0c8f18-d75e-4f1c-b10b-a282458b43d3",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        7568,
        4384
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "ad2020d4-d6e9-4266-9ce6-81f45e63ba66",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        7568,
        4208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "=FixedExpression{{ $('Set File ID').item.json.file_type }}FixedExpressionRename Output FixedExpression{{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5fe78f9b-2ff3-4adc-954e-53bfce35c142"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "988d1c9a-acb0-44db-a4f0-8e6520344b7b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6864,
        4064
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        7568,
        3952
      ],
      "id": "f348ed50-d28c-44ef-9ce9-d68fa59a71c1",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4768,
        5072
      ],
      "id": "79fd8a45-0642-4558-8205-a74f96ef6a13",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        5696,
        4784
      ],
      "id": "caccbbbe-8170-486e-b502-5b763c3564b3",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "In-Memory Vector Store (Ingest)": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store (Ingest)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "In-Memory Vector Store (Retrieve)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Entrypoint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store (Retrieve)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "In-Memory Vector Store (Ingest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "In-Memory Vector Store (Ingest)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Extract PDF Text": [
      {
        "numpages": 9,
        "numrender": 9,
        "info": {
          "PDFFormatVersion": "1.4",
          "Language": "en",
          "EncryptFilterName": null,
          "IsLinearized": false,
          "IsAcroFormPresent": false,
          "IsXFAPresent": false,
          "IsCollectionPresent": false,
          "IsSignaturesPresent": false,
          "Title": "test-rfp",
          "Producer": "Skia/PDF m145 Google Docs Renderer"
        },
        "text": "Got it. Here’s a clean, realistic example RFP you can drop straight into Google Drive as a doc\nor PDF and use to exercise your flow. This is intentionally boring-correct enterprise style —\nexactly the kind of thing automation + LLM workflows should chew through without drama.\nRequest for Proposal (RFP)\nAutomation & Workflow Orchestration Platform\nRFP ID: RFP-2025-ACME-AUTO-001\nIssue Date: December 20, 2025\nResponse Due: January 10, 2026\nIssuing Organization: Acme Health Services, Inc.\n1. Introduction\nAcme Health Services, Inc. (“Acme”) is seeking proposals from qualified vendors to provide an\nAutomation and Workflow Orchestration Platform to support internal business processes,\ndata operations, and system integrations.\nThe selected solution must be secure, scalable, auditable, and suitable for deployment in a\nhybrid or self-hosted environment.\n2. Organizational Background\nAcme Health Services is a mid-sized healthcare services provider operating across multiple\nU.S. states. Acme manages claims processing, provider onboarding, compliance reporting, and\ninternal IT operations that require reliable automation and orchestration capabilities.\n3. Project Objectives\nThe primary objectives of this project are:\n\n● Reduce manual, repetitive operational work\n● Improve reliability and observability of automated workflows\n● Enable reusable, version-controlled automation\n● Support future AI-augmented workflows\n● Maintain compliance with healthcare security standards\n4. Scope of Work\nThe vendor solution must support the following capabilities:\n4.1 Automation Execution\n● Scripted and declarative automation support\n● Ability to execute Python-based workflows\n● Support for CLI-based or API-driven execution\n4.2 Orchestration\n● Workflow scheduling and triggering\n● Dependency management between tasks\n● Support for event-driven workflows\n4.3 Deployment Model\n● Self-hosted or on-prem deployment\n● Kubernetes-native or container-friendly architecture\n● No mandatory SaaS lock-in\n4.4 Security & Compliance\n● Role-based access control (RBAC)\n● Audit logging\n● Secure secrets management\n● HIPAA-aligned security posture preferred\n4.5 Observability\n● Execution logs per workflow run\n● Failure reporting and retry logic\n● Metrics and basic monitoring hooks\n\n5. Technical Requirements\nVendors should address the following technical requirements:\n● Linux-compatible runtime\n● API-first architecture\n● Support for Git-based workflow definitions\n● Ability to run in air-gapped or restricted network environments\n● Minimal external dependencies\n6. Vendor Qualifications\nProposals should include:\n● Company background and years in operation\n● Relevant customer references\n● Experience with automation platforms or workflow engines\n● Open-source involvement (if applicable)\n7. Proposal Submission Requirements\nProposals must include:\n1. Executive summary\n2. Technical approach and architecture overview\n3. Deployment model description\n4. Security considerations\n5. Pricing model\n6. Implementation timeline\n7. Support and maintenance details\nSubmissions should be provided in PDF format.\n8. Evaluation Criteria\nProposals will be evaluated based on:\n\n● Technical fit (40%)\n● Security and compliance (25%)\n● Cost (20%)\n● Vendor experience (10%)\n● Implementation timeline (5%)\n9. Timeline\nMilestone Date\nRFP Issued December 20,\n2025\nQuestions Due December 30,\n2025\nProposal Due January 10, 2026\nVendor Selection January 20, 2026\nProject Start February 2026\n10. Contact Information\nAll communications regarding this RFP should be directed to:\nProcurement Office\nAcme Health Services, Inc.\nEmail: procurement@acmehealth.example\n11. Confidentiality\nAll information provided in response to this RFP will be treated as confidential and used solely\nfor evaluation purposes.\nWhy this is a good test artifact\n\n● Multiple structured sections\n● Realistic enterprise language\n● Clear entities, dates, requirements, and constraints\n● Easy to extract: scope, requirements, timelines, contacts\n● Perfect for testing:\n○ Doc ingestion\n○ Chunking\n○ Requirement extraction\n○ Summary generation\n○ Vendor fit analysis\nIf you want, next we can:\n● Add intentional ambiguity (to test reasoning)\n● Create a bad RFP (realistic garbage input)\n● Generate 3 fake vendor responses to test comparison\n● Turn this into a multi-doc Drive folder test (RFP + addendum + Q&A)\nJust say the word.\nGot it. Here’s a clean, realistic example RFP you can drop straight into Google Drive as a doc\nor PDF and use to exercise your flow. This is intentionally boring-correct enterprise style —\nexactly the kind of thing automation + LLM workflows should chew through without drama.\nRequest for Proposal (RFP)\nAutomation & Workflow Orchestration Platform\nRFP ID: RFP-2025-ACME-AUTO-001\nIssue Date: December 20, 2025\nResponse Due: January 10, 2026\nIssuing Organization: Acme Health Services, Inc.\n1. Introduction\nAcme Health Services, Inc. (“Acme”) is seeking proposals from qualified vendors to provide an\nAutomation and Workflow Orchestration Platform to support internal business processes,\ndata operations, and system integrations.\n\nThe selected solution must be secure, scalable, auditable, and suitable for deployment in a\nhybrid or self-hosted environment.\n2. Organizational Background\nAcme Health Services is a mid-sized healthcare services provider operating across multiple\nU.S. states. Acme manages claims processing, provider onboarding, compliance reporting, and\ninternal IT operations that require reliable automation and orchestration capabilities.\n3. Project Objectives\nThe primary objectives of this project are:\n● Reduce manual, repetitive operational work\n● Improve reliability and observability of automated workflows\n● Enable reusable, version-controlled automation\n● Support future AI-augmented workflows\n● Maintain compliance with healthcare security standards\n4. Scope of Work\nThe vendor solution must support the following capabilities:\n4.1 Automation Execution\n● Scripted and declarative automation support\n● Ability to execute Python-based workflows\n● Support for CLI-based or API-driven execution\n4.2 Orchestration\n● Workflow scheduling and triggering\n● Dependency management between tasks\n● Support for event-driven workflows\n4.3 Deployment Model\n\n● Self-hosted or on-prem deployment\n● Kubernetes-native or container-friendly architecture\n● No mandatory SaaS lock-in\n4.4 Security & Compliance\n● Role-based access control (RBAC)\n● Audit logging\n● Secure secrets management\n● HIPAA-aligned security posture preferred\n4.5 Observability\n● Execution logs per workflow run\n● Failure reporting and retry logic\n● Metrics and basic monitoring hooks\n5. Technical Requirements\nVendors should address the following technical requirements:\n● Linux-compatible runtime\n● API-first architecture\n● Support for Git-based workflow definitions\n● Ability to run in air-gapped or restricted network environments\n● Minimal external dependencies\n6. Vendor Qualifications\nProposals should include:\n● Company background and years in operation\n● Relevant customer references\n● Experience with automation platforms or workflow engines\n● Open-source involvement (if applicable)\n7. Proposal Submission Requirements\n\nProposals must include:\n1. Executive summary\n2. Technical approach and architecture overview\n3. Deployment model description\n4. Security considerations\n5. Pricing model\n6. Implementation timeline\n7. Support and maintenance details\nSubmissions should be provided in PDF format.\n8. Evaluation Criteria\nProposals will be evaluated based on:\n● Technical fit (40%)\n● Security and compliance (25%)\n● Cost (20%)\n● Vendor experience (10%)\n● Implementation timeline (5%)\n9. Timeline\nMilestone Date\nRFP Issued December 20,\n2025\nQuestions Due December 30,\n2025\nProposal Due January 10, 2026\nVendor Selection January 20, 2026\nProject Start February 2026\n10. Contact Information\n\nAll communications regarding this RFP should be directed to:\nProcurement Office\nAcme Health Services, Inc.\nEmail: procurement@acmehealth.example\n11. Confidentiality\nAll information provided in response to this RFP will be treated as confidential and used solely\nfor evaluation purposes.\nWhy this is a good test artifact\n● Multiple structured sections\n● Realistic enterprise language\n● Clear entities, dates, requirements, and constraints\n● Easy to extract: scope, requirements, timelines, contacts\n● Perfect for testing:\n○ Doc ingestion\n○ Chunking\n○ Requirement extraction\n○ Summary generation\n○ Vendor fit analysis\nIf you want, next we can:\n● Add intentional ambiguity (to test reasoning)\n● Create a bad RFP (realistic garbage input)\n● Generate 3 fake vendor responses to test comparison\n● Turn this into a multi-doc Drive folder test (RFP + addendum + Q&A)\nJust say the word.",
        "version": "5.3.31"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c0ca4d0c6d7184d737a05b946b4bf5027b5effd45ff3194f7e25142a62a5977"
  }
}